body {
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}

.search {
    width:700px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.input {
    width:150px;
    height:10px;
}

.label {
    float:left;
}

.inputBox {
    float:right;
}

.grid {
    position:absolute;
    top:0px;
    right:0px;
}

.searchBtns {
    position:absolute;
    bottom:0px;
}